
.visual_radweriel_error_E_G_radweriel_error_cfym_td_goto_terminate_radweriel_error{
	text-align:center;

}

.visual_ldap_error_E_G_ldap_error_cfym_td_goto_terminate_ldap_error{
	text-align:center;

}

.email_notification_of_president_and_agents_for_radweriel_error_cc_fc_qol_E_G_radweriel_error_cfym_td_goto_terminate_cc_fc_qol_radweriel_error{
	text-align:center;

}

.bonita_table_container {
	table-layout: fixed;
}

.hidden_on_instantiation {
	display: none;
}
