
.ypografi_dimarxoy_process_5patse_2_upload_entry_page_td_Submit1{
	text-align:center;

}

.visual_radweriel_error_E_G_radweriel_error_td_goto_terminate_alfresco{
	text-align:center;

}

.visual_ldap_error_E_G_ldap_error_td_goto_terminate_ldap{
	text-align:center;

}

.employee_review_case_employee_review_case_td_Upobole{
	text-align:center;

}

.employee_review_case_employee_review_case_td_goto_akirosi{
	text-align:center;

}

.widget_employee_review_case_employee_review_case_HTML_widget1{

}

.input_employee_review_case_employee_review_case_HTML_widget1{

}

.label_employee_review_case_employee_review_case_HTML_widget1{
	text-align : center;

}

.table_employee_review_case_employee_review_case_HTML_widget1{

}

.table_cells_employee_review_case_employee_review_case_HTML_widget1{

}

.table_headers_employee_review_case_employee_review_case_HTML_widget1{

}

.image_employee_review_case_employee_review_case_HTML_widget1{

}

.widget_employee_review_case_employee_review_case_empty_line2{

}

.input_employee_review_case_employee_review_case_empty_line2{

}

.label_employee_review_case_employee_review_case_empty_line2{
	text-align : center;

}

.table_employee_review_case_employee_review_case_empty_line2{

}

.table_cells_employee_review_case_employee_review_case_empty_line2{

}

.table_headers_employee_review_case_employee_review_case_empty_line2{

}

.image_employee_review_case_employee_review_case_empty_line2{

}

.widget_employee_review_case_employee_review_case_keeping_time{

}

.input_employee_review_case_employee_review_case_keeping_time{

}

.label_employee_review_case_employee_review_case_keeping_time{
	text-align : right;

}

.table_employee_review_case_employee_review_case_keeping_time{

}

.table_cells_employee_review_case_employee_review_case_keeping_time{

}

.table_headers_employee_review_case_employee_review_case_keeping_time{

}

.image_employee_review_case_employee_review_case_keeping_time{

}

.widget_employee_review_case_employee_review_case_priority{

}

.input_employee_review_case_employee_review_case_priority{

}

.label_employee_review_case_employee_review_case_priority{
	text-align : right;

}

.table_employee_review_case_employee_review_case_priority{

}

.table_cells_employee_review_case_employee_review_case_priority{

}

.table_headers_employee_review_case_employee_review_case_priority{

}

.image_employee_review_case_employee_review_case_priority{

}

.widget_employee_review_case_employee_review_case_gradation{

}

.input_employee_review_case_employee_review_case_gradation{

}

.label_employee_review_case_employee_review_case_gradation{
	text-align : right;

}

.table_employee_review_case_employee_review_case_gradation{

}

.table_cells_employee_review_case_employee_review_case_gradation{

}

.table_headers_employee_review_case_employee_review_case_gradation{

}

.image_employee_review_case_employee_review_case_gradation{

}

.supervisor_changes_employee_preview_supervisor_changes_employee_preview_td_Sunekeia{
	text-align:center;

}

.widget_supervisor_changes_employee_preview_supervisor_changes_employee_preview_Info1{

}

.input_supervisor_changes_employee_preview_supervisor_changes_employee_preview_Info1{
	text-align : center;

}

.label_supervisor_changes_employee_preview_supervisor_changes_employee_preview_Info1{
	text-align : center;

}

.table_supervisor_changes_employee_preview_supervisor_changes_employee_preview_Info1{

}

.table_cells_supervisor_changes_employee_preview_supervisor_changes_employee_preview_Info1{

}

.table_headers_supervisor_changes_employee_preview_supervisor_changes_employee_preview_Info1{

}

.image_supervisor_changes_employee_preview_supervisor_changes_employee_preview_Info1{

}

.widget_supervisor_changes_employee_preview_supervisor_changes_employee_preview_info2{

}

.input_supervisor_changes_employee_preview_supervisor_changes_employee_preview_info2{

}

.label_supervisor_changes_employee_preview_supervisor_changes_employee_preview_info2{
	text-align : center;

}

.table_supervisor_changes_employee_preview_supervisor_changes_employee_preview_info2{

}

.table_cells_supervisor_changes_employee_preview_supervisor_changes_employee_preview_info2{

}

.table_headers_supervisor_changes_employee_preview_supervisor_changes_employee_preview_info2{

}

.image_supervisor_changes_employee_preview_supervisor_changes_employee_preview_info2{

}

.director_changes_employee_preview_director_changes_employee_preview_td_Sunekeia{
	text-align:center;

}

.widget_director_changes_employee_preview_director_changes_employee_preview_Info1{

}

.input_director_changes_employee_preview_director_changes_employee_preview_Info1{
	text-align : center;

}

.label_director_changes_employee_preview_director_changes_employee_preview_Info1{
	text-align : center;

}

.table_director_changes_employee_preview_director_changes_employee_preview_Info1{

}

.table_cells_director_changes_employee_preview_director_changes_employee_preview_Info1{

}

.table_headers_director_changes_employee_preview_director_changes_employee_preview_Info1{

}

.image_director_changes_employee_preview_director_changes_employee_preview_Info1{

}

.widget_director_changes_employee_preview_director_changes_employee_preview_info2{

}

.input_director_changes_employee_preview_director_changes_employee_preview_info2{

}

.label_director_changes_employee_preview_director_changes_employee_preview_info2{
	text-align : center;

}

.table_director_changes_employee_preview_director_changes_employee_preview_info2{

}

.table_cells_director_changes_employee_preview_director_changes_employee_preview_info2{

}

.table_headers_director_changes_employee_preview_director_changes_employee_preview_info2{

}

.image_director_changes_employee_preview_director_changes_employee_preview_info2{

}

.confirm_recipients_Recipient_confirmation_td_next{
	text-align:center;

}

.widget_confirm_recipients_Recipient_confirmation_selected_department{

}

.input_confirm_recipients_Recipient_confirmation_selected_department{
	text-align : center;

}

.label_confirm_recipients_Recipient_confirmation_selected_department{
	text-align: left;

}

.table_confirm_recipients_Recipient_confirmation_selected_department{

}

.table_cells_confirm_recipients_Recipient_confirmation_selected_department{

}

.table_headers_confirm_recipients_Recipient_confirmation_selected_department{

}

.items_confirm_recipients_Recipient_confirmation_selected_department{
	text-align: left;

}

.image_confirm_recipients_Recipient_confirmation_selected_department{

}

.confirm_recipients_Recipient_confirmation_td_previous{
	text-align:center;

}

.widget_confirm_recipients_Recipient_confirmation_selected_notification{

}

.input_confirm_recipients_Recipient_confirmation_selected_notification{
	text-align : center;

}

.label_confirm_recipients_Recipient_confirmation_selected_notification{
	text-align: left;
	text-align : left;

}

.table_confirm_recipients_Recipient_confirmation_selected_notification{

}

.table_cells_confirm_recipients_Recipient_confirmation_selected_notification{

}

.table_headers_confirm_recipients_Recipient_confirmation_selected_notification{

}

.items_confirm_recipients_Recipient_confirmation_selected_notification{
	text-align: left;
	text-align : left;

}

.image_confirm_recipients_Recipient_confirmation_selected_notification{

}

.recipient_selection_select_department_td_goto_Previous{
	text-align:center;

}

.widget_recipient_selection_select_department_recipients{

}

.input_recipient_selection_select_department_recipients{
	text-align : left;

}

.label_recipient_selection_select_department_recipients{
	text-align : center;

}

.table_recipient_selection_select_department_recipients{

}

.table_cells_recipient_selection_select_department_recipients{

}

.table_headers_recipient_selection_select_department_recipients{

}

.items_recipient_selection_select_department_recipients{
	text-align: left;
	text-align : left;

}

.image_recipient_selection_select_department_recipients{

}

.recipient_selection_select_department_td_Next{
	text-align:center;

}

.recipient_selection_select_notification_td_Previous1{
	text-align:center;

}

.widget_recipient_selection_select_notification_notification{

}

.input_recipient_selection_select_notification_notification{
	text-align : center;

}

.label_recipient_selection_select_notification_notification{
	text-align : center;

}

.table_recipient_selection_select_notification_notification{

}

.table_cells_recipient_selection_select_notification_notification{

}

.table_headers_recipient_selection_select_notification_notification{

}

.items_recipient_selection_select_notification_notification{
	text-align: left;
	text-align : left;

}

.image_recipient_selection_select_notification_notification{

}

.recipient_selection_select_notification_td_Goto_confirm{
	text-align:center;

}

.protocol_changes_employee_preview_protocol_changes_employee_preview_td_Sunekeia{
	text-align:center;

}

.widget_protocol_changes_employee_preview_protocol_changes_employee_preview_Info1{

}

.input_protocol_changes_employee_preview_protocol_changes_employee_preview_Info1{
	text-align : center;

}

.label_protocol_changes_employee_preview_protocol_changes_employee_preview_Info1{
	text-align : center;

}

.table_protocol_changes_employee_preview_protocol_changes_employee_preview_Info1{

}

.table_cells_protocol_changes_employee_preview_protocol_changes_employee_preview_Info1{

}

.table_headers_protocol_changes_employee_preview_protocol_changes_employee_preview_Info1{

}

.image_protocol_changes_employee_preview_protocol_changes_employee_preview_Info1{

}

.widget_protocol_changes_employee_preview_protocol_changes_employee_preview_info2{

}

.input_protocol_changes_employee_preview_protocol_changes_employee_preview_info2{

}

.label_protocol_changes_employee_preview_protocol_changes_employee_preview_info2{
	text-align : center;

}

.table_protocol_changes_employee_preview_protocol_changes_employee_preview_info2{

}

.table_cells_protocol_changes_employee_preview_protocol_changes_employee_preview_info2{

}

.table_headers_protocol_changes_employee_preview_protocol_changes_employee_preview_info2{

}

.image_protocol_changes_employee_preview_protocol_changes_employee_preview_info2{

}

.deputy_mayor_changes_employee_preview_deputy_mayor_changes_employee_preview_td_Sunekeia{
	text-align:center;

}

.widget_deputy_mayor_changes_employee_preview_deputy_mayor_changes_employee_preview_Info1{

}

.input_deputy_mayor_changes_employee_preview_deputy_mayor_changes_employee_preview_Info1{
	text-align : center;

}

.label_deputy_mayor_changes_employee_preview_deputy_mayor_changes_employee_preview_Info1{
	text-align : center;

}

.table_deputy_mayor_changes_employee_preview_deputy_mayor_changes_employee_preview_Info1{

}

.table_cells_deputy_mayor_changes_employee_preview_deputy_mayor_changes_employee_preview_Info1{

}

.table_headers_deputy_mayor_changes_employee_preview_deputy_mayor_changes_employee_preview_Info1{

}

.image_deputy_mayor_changes_employee_preview_deputy_mayor_changes_employee_preview_Info1{

}

.widget_deputy_mayor_changes_employee_preview_deputy_mayor_changes_employee_preview_info2{

}

.input_deputy_mayor_changes_employee_preview_deputy_mayor_changes_employee_preview_info2{

}

.label_deputy_mayor_changes_employee_preview_deputy_mayor_changes_employee_preview_info2{
	text-align : center;

}

.table_deputy_mayor_changes_employee_preview_deputy_mayor_changes_employee_preview_info2{

}

.table_cells_deputy_mayor_changes_employee_preview_deputy_mayor_changes_employee_preview_info2{

}

.table_headers_deputy_mayor_changes_employee_preview_deputy_mayor_changes_employee_preview_info2{

}

.image_deputy_mayor_changes_employee_preview_deputy_mayor_changes_employee_preview_info2{

}

.general_secretary_changes_employee_preview_general_secretary_changes_employee_preview_td_Sunekeia{
	text-align:center;

}

.widget_general_secretary_changes_employee_preview_general_secretary_changes_employee_preview_Info1{

}

.input_general_secretary_changes_employee_preview_general_secretary_changes_employee_preview_Info1{
	text-align : center;

}

.label_general_secretary_changes_employee_preview_general_secretary_changes_employee_preview_Info1{
	text-align : center;

}

.table_general_secretary_changes_employee_preview_general_secretary_changes_employee_preview_Info1{

}

.table_cells_general_secretary_changes_employee_preview_general_secretary_changes_employee_preview_Info1{

}

.table_headers_general_secretary_changes_employee_preview_general_secretary_changes_employee_preview_Info1{

}

.image_general_secretary_changes_employee_preview_general_secretary_changes_employee_preview_Info1{

}

.widget_general_secretary_changes_employee_preview_general_secretary_changes_employee_preview_info2{

}

.input_general_secretary_changes_employee_preview_general_secretary_changes_employee_preview_info2{

}

.label_general_secretary_changes_employee_preview_general_secretary_changes_employee_preview_info2{
	text-align : center;

}

.table_general_secretary_changes_employee_preview_general_secretary_changes_employee_preview_info2{

}

.table_cells_general_secretary_changes_employee_preview_general_secretary_changes_employee_preview_info2{

}

.table_headers_general_secretary_changes_employee_preview_general_secretary_changes_employee_preview_info2{

}

.image_general_secretary_changes_employee_preview_general_secretary_changes_employee_preview_info2{

}

.mayor_changes_employee_preview_mayor_changes_employee_preview_td_Sunekeia{
	text-align:center;

}

.widget_mayor_changes_employee_preview_mayor_changes_employee_preview_Info1{

}

.input_mayor_changes_employee_preview_mayor_changes_employee_preview_Info1{
	text-align : center;

}

.label_mayor_changes_employee_preview_mayor_changes_employee_preview_Info1{
	text-align : center;

}

.table_mayor_changes_employee_preview_mayor_changes_employee_preview_Info1{

}

.table_cells_mayor_changes_employee_preview_mayor_changes_employee_preview_Info1{

}

.table_headers_mayor_changes_employee_preview_mayor_changes_employee_preview_Info1{

}

.image_mayor_changes_employee_preview_mayor_changes_employee_preview_Info1{

}

.widget_mayor_changes_employee_preview_mayor_changes_employee_preview_info2{

}

.input_mayor_changes_employee_preview_mayor_changes_employee_preview_info2{

}

.label_mayor_changes_employee_preview_mayor_changes_employee_preview_info2{
	text-align : center;

}

.table_mayor_changes_employee_preview_mayor_changes_employee_preview_info2{

}

.table_cells_mayor_changes_employee_preview_mayor_changes_employee_preview_info2{

}

.table_headers_mayor_changes_employee_preview_mayor_changes_employee_preview_info2{

}

.image_mayor_changes_employee_preview_mayor_changes_employee_preview_info2{

}

.delete_process_instance_delete_case_td_finish{
	text-align:center;

}

.select_ivolved_parties_select_ivolved_parties_td_move_on{
	text-align:center;

}

.select_ivolved_parties_select_ivolved_parties_td_goto_akirosi{
	text-align:center;

}

.widget_get_deputy_mayor_get_deputy_mayor_deputy_mayors{

}

.input_get_deputy_mayor_get_deputy_mayor_deputy_mayors{
	text-align: center;

}

.label_get_deputy_mayor_get_deputy_mayor_deputy_mayors{
	text-align: center;
	text-align : center;
	color : text-align: center;;

}

.table_get_deputy_mayor_get_deputy_mayor_deputy_mayors{

}

.table_cells_get_deputy_mayor_get_deputy_mayor_deputy_mayors{

}

.table_headers_get_deputy_mayor_get_deputy_mayor_deputy_mayors{

}

.image_get_deputy_mayor_get_deputy_mayor_deputy_mayors{

}

.widget_get_deputy_mayor_get_deputy_mayor_Info1{

}

.input_get_deputy_mayor_get_deputy_mayor_Info1{
	text-align : center;

}

.label_get_deputy_mayor_get_deputy_mayor_Info1{
	text-align : center;

}

.table_get_deputy_mayor_get_deputy_mayor_Info1{

}

.table_cells_get_deputy_mayor_get_deputy_mayor_Info1{

}

.table_headers_get_deputy_mayor_get_deputy_mayor_Info1{

}

.image_get_deputy_mayor_get_deputy_mayor_Info1{

}

.widget_get_deputy_mayor_get_deputy_mayor_empty_line2{

}

.input_get_deputy_mayor_get_deputy_mayor_empty_line2{

}

.label_get_deputy_mayor_get_deputy_mayor_empty_line2{
	text-align : center;

}

.table_get_deputy_mayor_get_deputy_mayor_empty_line2{

}

.table_cells_get_deputy_mayor_get_deputy_mayor_empty_line2{

}

.table_headers_get_deputy_mayor_get_deputy_mayor_empty_line2{

}

.image_get_deputy_mayor_get_deputy_mayor_empty_line2{

}

.get_deputy_mayor_get_deputy_mayor_td_next{
	text-align:center;

}

.confirm_selected_deputy_mayor_confirm_selected_deputy_mayor_td_previous{
	text-align:center;

}

.confirm_selected_deputy_mayor_confirm_selected_deputy_mayor_td_next{
	text-align:center;

}

.confirm_involved_parties_confirm_involved_parties_td_move_on{
	text-align:center;

}

.confirm_involved_parties_confirm_involved_parties_td_go_back{
	text-align:center;

}

.insert_ada_insert_ada_td_goto_terminate_alfresco{
	text-align:center;

}

.supervisor_review_case_supervisor_review_case_td_approval{
	text-align:center;

}

.widget_supervisor_review_case_supervisor_review_case_approval{

}

.input_supervisor_review_case_supervisor_review_case_approval{
	text-align : center;

}

.label_supervisor_review_case_supervisor_review_case_approval{

}

.table_supervisor_review_case_supervisor_review_case_approval{

}

.table_cells_supervisor_review_case_supervisor_review_case_approval{

}

.table_headers_supervisor_review_case_supervisor_review_case_approval{

}

.image_supervisor_review_case_supervisor_review_case_approval{

}

.supervisor_review_case_supervisor_review_case_td_rejection{
	text-align:center;

}

.widget_supervisor_review_case_supervisor_review_case_rejection{

}

.input_supervisor_review_case_supervisor_review_case_rejection{
	text-align : center;

}

.label_supervisor_review_case_supervisor_review_case_rejection{

}

.table_supervisor_review_case_supervisor_review_case_rejection{

}

.table_cells_supervisor_review_case_supervisor_review_case_rejection{

}

.table_headers_supervisor_review_case_supervisor_review_case_rejection{

}

.image_supervisor_review_case_supervisor_review_case_rejection{

}

.supervisor_review_case_supervisor_review_case_td_editing{
	text-align:center;

}

.widget_supervisor_review_case_supervisor_review_case_editing{

}

.input_supervisor_review_case_supervisor_review_case_editing{
	text-align : center;

}

.label_supervisor_review_case_supervisor_review_case_editing{

}

.table_supervisor_review_case_supervisor_review_case_editing{

}

.table_cells_supervisor_review_case_supervisor_review_case_editing{

}

.table_headers_supervisor_review_case_supervisor_review_case_editing{

}

.image_supervisor_review_case_supervisor_review_case_editing{

}

.widget_supervisor_review_case_supervisor_review_case_HTML_widget1{

}

.input_supervisor_review_case_supervisor_review_case_HTML_widget1{

}

.label_supervisor_review_case_supervisor_review_case_HTML_widget1{
	text-align : center;

}

.table_supervisor_review_case_supervisor_review_case_HTML_widget1{

}

.table_cells_supervisor_review_case_supervisor_review_case_HTML_widget1{

}

.table_headers_supervisor_review_case_supervisor_review_case_HTML_widget1{

}

.image_supervisor_review_case_supervisor_review_case_HTML_widget1{

}

.widget_supervisor_review_case_supervisor_review_case_empty_line2{

}

.input_supervisor_review_case_supervisor_review_case_empty_line2{

}

.label_supervisor_review_case_supervisor_review_case_empty_line2{
	text-align : center;

}

.table_supervisor_review_case_supervisor_review_case_empty_line2{

}

.table_cells_supervisor_review_case_supervisor_review_case_empty_line2{

}

.table_headers_supervisor_review_case_supervisor_review_case_empty_line2{

}

.image_supervisor_review_case_supervisor_review_case_empty_line2{

}

.supervisor_changes_supervisor_changes_td_submission{
	text-align:center;

}

.supervisor_changes_supervisor_changes_td_previous{
	text-align:center;

}

.supervisor_rejection_supervisor_rejection_td_submission{
	text-align:center;

}

.supervisor_rejection_supervisor_rejection_td_previous{
	text-align:center;

}

.director_changes_director_changes_td_submission{
	text-align:center;

}

.widget_director_changes_director_changes_submission{

}

.input_director_changes_director_changes_submission{
	text-align : center;

}

.label_director_changes_director_changes_submission{

}

.table_director_changes_director_changes_submission{

}

.table_cells_director_changes_director_changes_submission{

}

.table_headers_director_changes_director_changes_submission{

}

.image_director_changes_director_changes_submission{

}

.director_changes_director_changes_td_previous{
	text-align:center;

}

.Director_Rejection_director_rejection_td_submission{
	text-align:center;

}

.Director_Rejection_director_rejection_td_previous{
	text-align:center;

}

.widget_director_case_review_director_case_review_HTML_widget1{

}

.input_director_case_review_director_case_review_HTML_widget1{

}

.label_director_case_review_director_case_review_HTML_widget1{
	text-align : center;

}

.table_director_case_review_director_case_review_HTML_widget1{

}

.table_cells_director_case_review_director_case_review_HTML_widget1{

}

.table_headers_director_case_review_director_case_review_HTML_widget1{

}

.image_director_case_review_director_case_review_HTML_widget1{

}

.director_case_review_director_case_review_td_rejection{
	text-align:center;

}

.widget_director_case_review_director_case_review_rejection{

}

.input_director_case_review_director_case_review_rejection{
	text-align : center;

}

.label_director_case_review_director_case_review_rejection{

}

.table_director_case_review_director_case_review_rejection{

}

.table_cells_director_case_review_director_case_review_rejection{

}

.table_headers_director_case_review_director_case_review_rejection{

}

.image_director_case_review_director_case_review_rejection{

}

.director_case_review_director_case_review_td_editing{
	text-align:center;

}

.director_case_review_director_case_review_td_deputy_mayor_confirmation{
	text-align:center;

}

.widget_director_case_review_director_case_review_deputy_mayor_confirmation{

}

.input_director_case_review_director_case_review_deputy_mayor_confirmation{
	text-align : center;

}

.label_director_case_review_director_case_review_deputy_mayor_confirmation{

}

.table_director_case_review_director_case_review_deputy_mayor_confirmation{

}

.table_cells_director_case_review_director_case_review_deputy_mayor_confirmation{

}

.table_headers_director_case_review_director_case_review_deputy_mayor_confirmation{

}

.image_director_case_review_director_case_review_deputy_mayor_confirmation{

}

.director_case_review_director_case_review_td_general_secretary_confirmation{
	text-align:center;

}

.widget_director_case_review_director_case_review_general_secretary_confirmation{

}

.input_director_case_review_director_case_review_general_secretary_confirmation{
	text-align : center;

}

.label_director_case_review_director_case_review_general_secretary_confirmation{

}

.table_director_case_review_director_case_review_general_secretary_confirmation{

}

.table_cells_director_case_review_director_case_review_general_secretary_confirmation{

}

.table_headers_director_case_review_director_case_review_general_secretary_confirmation{

}

.image_director_case_review_director_case_review_general_secretary_confirmation{

}

.select_next_step_in_case_of_director_deputy_mayor_and_general_secretary_select_next_step_in_case_of_director_deputy_mayor_and_general_secretary_td_director_deputy_mayor_confirmation{
	text-align:center;

}

.widget_select_next_step_in_case_of_director_deputy_mayor_and_general_secretary_select_next_step_in_case_of_director_deputy_mayor_and_general_secretary_director_deputy_mayor_confirmation{

}

.input_select_next_step_in_case_of_director_deputy_mayor_and_general_secretary_select_next_step_in_case_of_director_deputy_mayor_and_general_secretary_director_deputy_mayor_confirmation{
	text-align : center;

}

.label_select_next_step_in_case_of_director_deputy_mayor_and_general_secretary_select_next_step_in_case_of_director_deputy_mayor_and_general_secretary_director_deputy_mayor_confirmation{

}

.table_select_next_step_in_case_of_director_deputy_mayor_and_general_secretary_select_next_step_in_case_of_director_deputy_mayor_and_general_secretary_director_deputy_mayor_confirmation{

}

.table_cells_select_next_step_in_case_of_director_deputy_mayor_and_general_secretary_select_next_step_in_case_of_director_deputy_mayor_and_general_secretary_director_deputy_mayor_confirmation{

}

.table_headers_select_next_step_in_case_of_director_deputy_mayor_and_general_secretary_select_next_step_in_case_of_director_deputy_mayor_and_general_secretary_director_deputy_mayor_confirmation{

}

.image_select_next_step_in_case_of_director_deputy_mayor_and_general_secretary_select_next_step_in_case_of_director_deputy_mayor_and_general_secretary_director_deputy_mayor_confirmation{

}

.select_next_step_in_case_of_director_deputy_mayor_and_general_secretary_select_next_step_in_case_of_director_deputy_mayor_and_general_secretary_td_director_general_secretary_confirmation{
	text-align:center;

}

.widget_select_next_step_in_case_of_director_deputy_mayor_and_general_secretary_select_next_step_in_case_of_director_deputy_mayor_and_general_secretary_director_general_secretary_confirmation{

}

.input_select_next_step_in_case_of_director_deputy_mayor_and_general_secretary_select_next_step_in_case_of_director_deputy_mayor_and_general_secretary_director_general_secretary_confirmation{
	text-align : center;

}

.label_select_next_step_in_case_of_director_deputy_mayor_and_general_secretary_select_next_step_in_case_of_director_deputy_mayor_and_general_secretary_director_general_secretary_confirmation{

}

.table_select_next_step_in_case_of_director_deputy_mayor_and_general_secretary_select_next_step_in_case_of_director_deputy_mayor_and_general_secretary_director_general_secretary_confirmation{

}

.table_cells_select_next_step_in_case_of_director_deputy_mayor_and_general_secretary_select_next_step_in_case_of_director_deputy_mayor_and_general_secretary_director_general_secretary_confirmation{

}

.table_headers_select_next_step_in_case_of_director_deputy_mayor_and_general_secretary_select_next_step_in_case_of_director_deputy_mayor_and_general_secretary_director_general_secretary_confirmation{

}

.image_select_next_step_in_case_of_director_deputy_mayor_and_general_secretary_select_next_step_in_case_of_director_deputy_mayor_and_general_secretary_director_general_secretary_confirmation{

}

.select_next_step_in_case_of_director_deputy_mayor_and_general_secretary_select_next_step_in_case_of_director_deputy_mayor_and_general_secretary_td_general_secretary_mayor_confirmation{
	text-align:center;

}

.widget_select_next_step_in_case_of_director_deputy_mayor_and_general_secretary_select_next_step_in_case_of_director_deputy_mayor_and_general_secretary_general_secretary_mayor_confirmation{

}

.input_select_next_step_in_case_of_director_deputy_mayor_and_general_secretary_select_next_step_in_case_of_director_deputy_mayor_and_general_secretary_general_secretary_mayor_confirmation{
	text-align : center;

}

.label_select_next_step_in_case_of_director_deputy_mayor_and_general_secretary_select_next_step_in_case_of_director_deputy_mayor_and_general_secretary_general_secretary_mayor_confirmation{

}

.table_select_next_step_in_case_of_director_deputy_mayor_and_general_secretary_select_next_step_in_case_of_director_deputy_mayor_and_general_secretary_general_secretary_mayor_confirmation{

}

.table_cells_select_next_step_in_case_of_director_deputy_mayor_and_general_secretary_select_next_step_in_case_of_director_deputy_mayor_and_general_secretary_general_secretary_mayor_confirmation{

}

.table_headers_select_next_step_in_case_of_director_deputy_mayor_and_general_secretary_select_next_step_in_case_of_director_deputy_mayor_and_general_secretary_general_secretary_mayor_confirmation{

}

.image_select_next_step_in_case_of_director_deputy_mayor_and_general_secretary_select_next_step_in_case_of_director_deputy_mayor_and_general_secretary_general_secretary_mayor_confirmation{

}

.select_next_step_in_case_of_director_deputy_mayor_and_general_secretary_select_next_step_in_case_of_director_deputy_mayor_and_general_secretary_td_general_secretary_protocol_confirmation{
	text-align:center;

}

.widget_select_next_step_in_case_of_director_deputy_mayor_and_general_secretary_select_next_step_in_case_of_director_deputy_mayor_and_general_secretary_general_secretary_protocol_confirmation{

}

.input_select_next_step_in_case_of_director_deputy_mayor_and_general_secretary_select_next_step_in_case_of_director_deputy_mayor_and_general_secretary_general_secretary_protocol_confirmation{
	text-align : center;

}

.label_select_next_step_in_case_of_director_deputy_mayor_and_general_secretary_select_next_step_in_case_of_director_deputy_mayor_and_general_secretary_general_secretary_protocol_confirmation{

}

.table_select_next_step_in_case_of_director_deputy_mayor_and_general_secretary_select_next_step_in_case_of_director_deputy_mayor_and_general_secretary_general_secretary_protocol_confirmation{

}

.table_cells_select_next_step_in_case_of_director_deputy_mayor_and_general_secretary_select_next_step_in_case_of_director_deputy_mayor_and_general_secretary_general_secretary_protocol_confirmation{

}

.table_headers_select_next_step_in_case_of_director_deputy_mayor_and_general_secretary_select_next_step_in_case_of_director_deputy_mayor_and_general_secretary_general_secretary_protocol_confirmation{

}

.image_select_next_step_in_case_of_director_deputy_mayor_and_general_secretary_select_next_step_in_case_of_director_deputy_mayor_and_general_secretary_general_secretary_protocol_confirmation{

}

.deputy_mayor_changes_deputy_mayor_changes_td_submission{
	text-align:center;

}

.widget_deputy_mayor_changes_deputy_mayor_changes_submission{

}

.input_deputy_mayor_changes_deputy_mayor_changes_submission{
	text-align : center;

}

.label_deputy_mayor_changes_deputy_mayor_changes_submission{

}

.table_deputy_mayor_changes_deputy_mayor_changes_submission{

}

.table_cells_deputy_mayor_changes_deputy_mayor_changes_submission{

}

.table_headers_deputy_mayor_changes_deputy_mayor_changes_submission{

}

.image_deputy_mayor_changes_deputy_mayor_changes_submission{

}

.deputy_mayor_changes_deputy_mayor_changes_td_previous{
	text-align:center;

}

.deputy_mayor_review_case_deputy_mayor_review_case_td_rejection{
	text-align:center;

}

.widget_deputy_mayor_review_case_deputy_mayor_review_case_rejection{

}

.input_deputy_mayor_review_case_deputy_mayor_review_case_rejection{
	text-align : center;

}

.label_deputy_mayor_review_case_deputy_mayor_review_case_rejection{

}

.table_deputy_mayor_review_case_deputy_mayor_review_case_rejection{

}

.table_cells_deputy_mayor_review_case_deputy_mayor_review_case_rejection{

}

.table_headers_deputy_mayor_review_case_deputy_mayor_review_case_rejection{

}

.image_deputy_mayor_review_case_deputy_mayor_review_case_rejection{

}

.deputy_mayor_review_case_deputy_mayor_review_case_td_editing{
	text-align:center;

}

.deputy_mayor_review_case_deputy_mayor_review_case_td_approval_2_general_secretary{
	text-align:center;

}

.widget_deputy_mayor_review_case_deputy_mayor_review_case_approval_2_general_secretary{

}

.input_deputy_mayor_review_case_deputy_mayor_review_case_approval_2_general_secretary{
	text-align : center;

}

.label_deputy_mayor_review_case_deputy_mayor_review_case_approval_2_general_secretary{

}

.table_deputy_mayor_review_case_deputy_mayor_review_case_approval_2_general_secretary{

}

.table_cells_deputy_mayor_review_case_deputy_mayor_review_case_approval_2_general_secretary{

}

.table_headers_deputy_mayor_review_case_deputy_mayor_review_case_approval_2_general_secretary{

}

.image_deputy_mayor_review_case_deputy_mayor_review_case_approval_2_general_secretary{

}

.widget_deputy_mayor_review_case_deputy_mayor_review_case_HTML_widget1{

}

.input_deputy_mayor_review_case_deputy_mayor_review_case_HTML_widget1{

}

.label_deputy_mayor_review_case_deputy_mayor_review_case_HTML_widget1{
	text-align : center;

}

.table_deputy_mayor_review_case_deputy_mayor_review_case_HTML_widget1{

}

.table_cells_deputy_mayor_review_case_deputy_mayor_review_case_HTML_widget1{

}

.table_headers_deputy_mayor_review_case_deputy_mayor_review_case_HTML_widget1{

}

.image_deputy_mayor_review_case_deputy_mayor_review_case_HTML_widget1{

}

.deputy_mayor_review_case_deputy_mayor_review_case_td_approval_2_protocol{
	text-align:center;

}

.widget_deputy_mayor_review_case_deputy_mayor_review_case_approval_2_protocol{

}

.input_deputy_mayor_review_case_deputy_mayor_review_case_approval_2_protocol{
	text-align : center;

}

.label_deputy_mayor_review_case_deputy_mayor_review_case_approval_2_protocol{

}

.table_deputy_mayor_review_case_deputy_mayor_review_case_approval_2_protocol{

}

.table_cells_deputy_mayor_review_case_deputy_mayor_review_case_approval_2_protocol{

}

.table_headers_deputy_mayor_review_case_deputy_mayor_review_case_approval_2_protocol{

}

.image_deputy_mayor_review_case_deputy_mayor_review_case_approval_2_protocol{

}

.deputy_mayor_case_rejection_deputy_mayor_case_rejection_td_submission{
	text-align:center;

}

.deputy_mayor_case_rejection_deputy_mayor_case_rejection_td_previous{
	text-align:center;

}

.general_secretary_case_review_general_secretary_case_review_td_rejection{
	text-align:center;

}

.widget_general_secretary_case_review_general_secretary_case_review_rejection{

}

.input_general_secretary_case_review_general_secretary_case_review_rejection{
	text-align : center;

}

.label_general_secretary_case_review_general_secretary_case_review_rejection{

}

.table_general_secretary_case_review_general_secretary_case_review_rejection{

}

.table_cells_general_secretary_case_review_general_secretary_case_review_rejection{

}

.table_headers_general_secretary_case_review_general_secretary_case_review_rejection{

}

.image_general_secretary_case_review_general_secretary_case_review_rejection{

}

.general_secretary_case_review_general_secretary_case_review_td_editing{
	text-align:center;

}

.general_secretary_case_review_general_secretary_case_review_td_approval_2_mayor{
	text-align:center;

}

.widget_general_secretary_case_review_general_secretary_case_review_approval_2_mayor{

}

.input_general_secretary_case_review_general_secretary_case_review_approval_2_mayor{
	text-align : center;

}

.label_general_secretary_case_review_general_secretary_case_review_approval_2_mayor{

}

.table_general_secretary_case_review_general_secretary_case_review_approval_2_mayor{

}

.table_cells_general_secretary_case_review_general_secretary_case_review_approval_2_mayor{

}

.table_headers_general_secretary_case_review_general_secretary_case_review_approval_2_mayor{

}

.image_general_secretary_case_review_general_secretary_case_review_approval_2_mayor{

}

.widget_general_secretary_case_review_general_secretary_case_review_HTML_widget1{

}

.input_general_secretary_case_review_general_secretary_case_review_HTML_widget1{

}

.label_general_secretary_case_review_general_secretary_case_review_HTML_widget1{
	text-align : center;

}

.table_general_secretary_case_review_general_secretary_case_review_HTML_widget1{

}

.table_cells_general_secretary_case_review_general_secretary_case_review_HTML_widget1{

}

.table_headers_general_secretary_case_review_general_secretary_case_review_HTML_widget1{

}

.image_general_secretary_case_review_general_secretary_case_review_HTML_widget1{

}

.general_secretary_case_review_general_secretary_case_review_td_approval_2_protocol{
	text-align:center;

}

.widget_general_secretary_case_review_general_secretary_case_review_approval_2_protocol{

}

.input_general_secretary_case_review_general_secretary_case_review_approval_2_protocol{
	text-align : center;

}

.label_general_secretary_case_review_general_secretary_case_review_approval_2_protocol{

}

.table_general_secretary_case_review_general_secretary_case_review_approval_2_protocol{

}

.table_cells_general_secretary_case_review_general_secretary_case_review_approval_2_protocol{

}

.table_headers_general_secretary_case_review_general_secretary_case_review_approval_2_protocol{

}

.image_general_secretary_case_review_general_secretary_case_review_approval_2_protocol{

}

.general_secretary_changes_general_secretary_changes_td_submission{
	text-align:center;

}

.widget_general_secretary_changes_general_secretary_changes_submission{

}

.input_general_secretary_changes_general_secretary_changes_submission{
	text-align : center;

}

.label_general_secretary_changes_general_secretary_changes_submission{

}

.table_general_secretary_changes_general_secretary_changes_submission{

}

.table_cells_general_secretary_changes_general_secretary_changes_submission{

}

.table_headers_general_secretary_changes_general_secretary_changes_submission{

}

.image_general_secretary_changes_general_secretary_changes_submission{

}

.general_secretary_changes_general_secretary_changes_td_previous{
	text-align:center;

}

.general_secretary_case_rejection_general_secretary_case_rejection_td_submission{
	text-align:center;

}

.general_secretary_case_rejection_general_secretary_case_rejection_td_previous{
	text-align:center;

}

.mayor_case_review_mayor_case_review_td_Aporripe{
	text-align:center;

}

.widget_mayor_case_review_mayor_case_review_Aporripe{

}

.input_mayor_case_review_mayor_case_review_Aporripe{
	text-align : center;

}

.label_mayor_case_review_mayor_case_review_Aporripe{

}

.table_mayor_case_review_mayor_case_review_Aporripe{

}

.table_cells_mayor_case_review_mayor_case_review_Aporripe{

}

.table_headers_mayor_case_review_mayor_case_review_Aporripe{

}

.image_mayor_case_review_mayor_case_review_Aporripe{

}

.mayor_case_review_mayor_case_review_td_Diortose{
	text-align:center;

}

.mayor_case_review_mayor_case_review_td_Egkrise{
	text-align:center;

}

.widget_mayor_case_review_mayor_case_review_Egkrise{

}

.input_mayor_case_review_mayor_case_review_Egkrise{
	text-align : center;

}

.label_mayor_case_review_mayor_case_review_Egkrise{

}

.table_mayor_case_review_mayor_case_review_Egkrise{

}

.table_cells_mayor_case_review_mayor_case_review_Egkrise{

}

.table_headers_mayor_case_review_mayor_case_review_Egkrise{

}

.image_mayor_case_review_mayor_case_review_Egkrise{

}

.widget_mayor_case_review_mayor_case_review_HTML_widget1{

}

.input_mayor_case_review_mayor_case_review_HTML_widget1{

}

.label_mayor_case_review_mayor_case_review_HTML_widget1{
	text-align : center;

}

.table_mayor_case_review_mayor_case_review_HTML_widget1{

}

.table_cells_mayor_case_review_mayor_case_review_HTML_widget1{

}

.table_headers_mayor_case_review_mayor_case_review_HTML_widget1{

}

.image_mayor_case_review_mayor_case_review_HTML_widget1{

}

.mayor_changes_mayor_changes_td_submission{
	text-align:center;

}

.widget_mayor_changes_mayor_changes_submission{

}

.input_mayor_changes_mayor_changes_submission{
	text-align : center;

}

.label_mayor_changes_mayor_changes_submission{

}

.table_mayor_changes_mayor_changes_submission{

}

.table_cells_mayor_changes_mayor_changes_submission{

}

.table_headers_mayor_changes_mayor_changes_submission{

}

.image_mayor_changes_mayor_changes_submission{

}

.mayor_changes_mayor_changes_td_previous{
	text-align:center;

}

.mayor_case_rejection_mayor_case_rejection_td_submission{
	text-align:center;

}

.mayor_case_rejection_mayor_case_rejection_td_previous{
	text-align:center;

}

.Protocol_case_review_Protocol_case_review_td_both_editing{
	text-align:center;

}

.Protocol_case_review_Protocol_case_review_td_Confirmation{
	text-align:center;

}

.widget_Protocol_case_review_Protocol_case_review_Confirmation{

}

.input_Protocol_case_review_Protocol_case_review_Confirmation{
	text-align : center;

}

.label_Protocol_case_review_Protocol_case_review_Confirmation{

}

.table_Protocol_case_review_Protocol_case_review_Confirmation{

}

.table_cells_Protocol_case_review_Protocol_case_review_Confirmation{

}

.table_headers_Protocol_case_review_Protocol_case_review_Confirmation{

}

.image_Protocol_case_review_Protocol_case_review_Confirmation{

}

.widget_Protocol_case_review_Protocol_case_review_selected_department{

}

.input_Protocol_case_review_Protocol_case_review_selected_department{
	text-align : center;

}

.label_Protocol_case_review_Protocol_case_review_selected_department{
	text-align: left;

}

.table_Protocol_case_review_Protocol_case_review_selected_department{

}

.table_cells_Protocol_case_review_Protocol_case_review_selected_department{

}

.table_headers_Protocol_case_review_Protocol_case_review_selected_department{

}

.items_Protocol_case_review_Protocol_case_review_selected_department{
	text-align: left;

}

.image_Protocol_case_review_Protocol_case_review_selected_department{

}

.widget_Protocol_case_review_Protocol_case_review_selected_notification{

}

.input_Protocol_case_review_Protocol_case_review_selected_notification{
	text-align : center;

}

.label_Protocol_case_review_Protocol_case_review_selected_notification{
	text-align: left;
	text-align : left;

}

.table_Protocol_case_review_Protocol_case_review_selected_notification{

}

.table_cells_Protocol_case_review_Protocol_case_review_selected_notification{

}

.table_headers_Protocol_case_review_Protocol_case_review_selected_notification{

}

.items_Protocol_case_review_Protocol_case_review_selected_notification{
	text-align: left;
	text-align : left;

}

.image_Protocol_case_review_Protocol_case_review_selected_notification{

}

.widget_Protocol_case_review_Protocol_case_review_Section_recievers{

}

.input_Protocol_case_review_Protocol_case_review_Section_recievers{
	text-align : center;

}

.label_Protocol_case_review_Protocol_case_review_Section_recievers{
	text-align : center;

}

.table_Protocol_case_review_Protocol_case_review_Section_recievers{

}

.table_cells_Protocol_case_review_Protocol_case_review_Section_recievers{

}

.table_headers_Protocol_case_review_Protocol_case_review_Section_recievers{

}

.image_Protocol_case_review_Protocol_case_review_Section_recievers{

}

.Protocol_case_review_Protocol_case_review_td_return_to_initiator{
	text-align:center;

}

.widget_Protocol_case_review_Protocol_case_review_Info1{

}

.input_Protocol_case_review_Protocol_case_review_Info1{
	text-align : center;

}

.label_Protocol_case_review_Protocol_case_review_Info1{
	text-align : center;

}

.table_Protocol_case_review_Protocol_case_review_Info1{

}

.table_cells_Protocol_case_review_Protocol_case_review_Info1{

}

.table_headers_Protocol_case_review_Protocol_case_review_Info1{

}

.image_Protocol_case_review_Protocol_case_review_Info1{

}

.widget_Protocol_case_review_Protocol_case_review_HTML_widget1{

}

.input_Protocol_case_review_Protocol_case_review_HTML_widget1{

}

.label_Protocol_case_review_Protocol_case_review_HTML_widget1{
	text-align : center;

}

.table_Protocol_case_review_Protocol_case_review_HTML_widget1{

}

.table_cells_Protocol_case_review_Protocol_case_review_HTML_widget1{

}

.table_headers_Protocol_case_review_Protocol_case_review_HTML_widget1{

}

.image_Protocol_case_review_Protocol_case_review_HTML_widget1{

}

.widget_protocol_recipient_selection_select_department_recipients{

}

.input_protocol_recipient_selection_select_department_recipients{
	text-align : left;

}

.label_protocol_recipient_selection_select_department_recipients{
	text-align : center;

}

.table_protocol_recipient_selection_select_department_recipients{

}

.table_cells_protocol_recipient_selection_select_department_recipients{

}

.table_headers_protocol_recipient_selection_select_department_recipients{

}

.items_protocol_recipient_selection_select_department_recipients{
	text-align: left;
	text-align : left;

}

.image_protocol_recipient_selection_select_department_recipients{

}

.protocol_recipient_selection_select_department_td_Next{
	text-align:center;

}

.protocol_recipient_selection_select_notification_td_Previous1{
	text-align:center;

}

.widget_protocol_recipient_selection_select_notification_notification{

}

.input_protocol_recipient_selection_select_notification_notification{
	text-align : center;

}

.label_protocol_recipient_selection_select_notification_notification{
	text-align : center;

}

.table_protocol_recipient_selection_select_notification_notification{

}

.table_cells_protocol_recipient_selection_select_notification_notification{

}

.table_headers_protocol_recipient_selection_select_notification_notification{

}

.items_protocol_recipient_selection_select_notification_notification{
	text-align: left;
	text-align : left;

}

.image_protocol_recipient_selection_select_notification_notification{

}

.protocol_recipient_selection_select_notification_td_Goto_confirm{
	text-align:center;

}

.protocol_changes_protocol_changes_td_Upobole{
	text-align:center;

}

.widget_protocol_changes_protocol_changes_Upobole{

}

.input_protocol_changes_protocol_changes_Upobole{
	text-align : center;

}

.label_protocol_changes_protocol_changes_Upobole{

}

.table_protocol_changes_protocol_changes_Upobole{

}

.table_cells_protocol_changes_protocol_changes_Upobole{

}

.table_headers_protocol_changes_protocol_changes_Upobole{

}

.image_protocol_changes_protocol_changes_Upobole{

}

.protocol_changes_protocol_changes_td_previous{
	text-align:center;

}

.protocol_sign_document_copy_protocol_sign_document_copy_td_submit{
	text-align:center;

}

.widget_protocol_sign_document_copy_protocol_sign_document_copy_Info2{

}

.input_protocol_sign_document_copy_protocol_sign_document_copy_Info2{

}

.label_protocol_sign_document_copy_protocol_sign_document_copy_Info2{
	text-align : center;

}

.table_protocol_sign_document_copy_protocol_sign_document_copy_Info2{

}

.table_cells_protocol_sign_document_copy_protocol_sign_document_copy_Info2{

}

.table_headers_protocol_sign_document_copy_protocol_sign_document_copy_Info2{

}

.image_protocol_sign_document_copy_protocol_sign_document_copy_Info2{

}

.notification_for_protocol_number_generation_error_notification_for_protocol_number_generation_error_td_continue{
	text-align:center;

}

.visual_hellas_error_E_G_HELLAS_error_td_goto_terminate_hellas{
	text-align:center;

}

.widget_financial_committee_president_case_review_financial_committee_president_case_review_document_copy{

}

.input_financial_committee_president_case_review_financial_committee_president_case_review_document_copy{
	text-align : center;

}

.label_financial_committee_president_case_review_financial_committee_president_case_review_document_copy{
	text-align : center;

}

.table_financial_committee_president_case_review_financial_committee_president_case_review_document_copy{

}

.table_cells_financial_committee_president_case_review_financial_committee_president_case_review_document_copy{

}

.table_headers_financial_committee_president_case_review_financial_committee_president_case_review_document_copy{

}

.image_financial_committee_president_case_review_financial_committee_president_case_review_document_copy{

}

.widget_financial_committee_president_case_review_financial_committee_president_case_review_HTML_widget1{

}

.input_financial_committee_president_case_review_financial_committee_president_case_review_HTML_widget1{

}

.label_financial_committee_president_case_review_financial_committee_president_case_review_HTML_widget1{
	text-align : center;

}

.table_financial_committee_president_case_review_financial_committee_president_case_review_HTML_widget1{

}

.table_cells_financial_committee_president_case_review_financial_committee_president_case_review_HTML_widget1{

}

.table_headers_financial_committee_president_case_review_financial_committee_president_case_review_HTML_widget1{

}

.image_financial_committee_president_case_review_financial_committee_president_case_review_HTML_widget1{

}

.financial_committee_president_case_review_financial_committee_president_case_review_td_approval{
	text-align:center;

}

.widget_financial_committee_president_case_review_financial_committee_president_case_review_approval{

}

.input_financial_committee_president_case_review_financial_committee_president_case_review_approval{
	text-align : center;

}

.label_financial_committee_president_case_review_financial_committee_president_case_review_approval{

}

.table_financial_committee_president_case_review_financial_committee_president_case_review_approval{

}

.table_cells_financial_committee_president_case_review_financial_committee_president_case_review_approval{

}

.table_headers_financial_committee_president_case_review_financial_committee_president_case_review_approval{

}

.image_financial_committee_president_case_review_financial_committee_president_case_review_approval{

}

.fcp_case_completion_notification_fcp_case_completion_notification_td_end{
	text-align:center;

}

.city_council_president_case_review_city_council_president_case_review_td_approval{
	text-align:center;

}

.widget_city_council_president_case_review_city_council_president_case_review_approval{

}

.input_city_council_president_case_review_city_council_president_case_review_approval{
	text-align : center;

}

.label_city_council_president_case_review_city_council_president_case_review_approval{

}

.table_city_council_president_case_review_city_council_president_case_review_approval{

}

.table_cells_city_council_president_case_review_city_council_president_case_review_approval{

}

.table_headers_city_council_president_case_review_city_council_president_case_review_approval{

}

.image_city_council_president_case_review_city_council_president_case_review_approval{

}

.widget_city_council_president_case_review_city_council_president_case_review_document_copy{

}

.input_city_council_president_case_review_city_council_president_case_review_document_copy{
	text-align : center;

}

.label_city_council_president_case_review_city_council_president_case_review_document_copy{
	text-align : center;

}

.table_city_council_president_case_review_city_council_president_case_review_document_copy{

}

.table_cells_city_council_president_case_review_city_council_president_case_review_document_copy{

}

.table_headers_city_council_president_case_review_city_council_president_case_review_document_copy{

}

.image_city_council_president_case_review_city_council_president_case_review_document_copy{

}

.widget_city_council_president_case_review_city_council_president_case_review_HTML_widget1{

}

.input_city_council_president_case_review_city_council_president_case_review_HTML_widget1{

}

.label_city_council_president_case_review_city_council_president_case_review_HTML_widget1{
	text-align : center;

}

.table_city_council_president_case_review_city_council_president_case_review_HTML_widget1{

}

.table_cells_city_council_president_case_review_city_council_president_case_review_HTML_widget1{

}

.table_headers_city_council_president_case_review_city_council_president_case_review_HTML_widget1{

}

.image_city_council_president_case_review_city_council_president_case_review_HTML_widget1{

}

.ccp_case_completion_notification_ccp_case_completion_notification_td_end{
	text-align:center;

}

.qolp_case_completion_notification_qolp_case_completion_notification_td_end{
	text-align:center;

}

.quality_of_life_president_case_review_quality_of_life_president_case_review_td_approval{
	text-align:center;

}

.widget_quality_of_life_president_case_review_quality_of_life_president_case_review_approval{

}

.input_quality_of_life_president_case_review_quality_of_life_president_case_review_approval{
	text-align : center;

}

.label_quality_of_life_president_case_review_quality_of_life_president_case_review_approval{

}

.table_quality_of_life_president_case_review_quality_of_life_president_case_review_approval{

}

.table_cells_quality_of_life_president_case_review_quality_of_life_president_case_review_approval{

}

.table_headers_quality_of_life_president_case_review_quality_of_life_president_case_review_approval{

}

.image_quality_of_life_president_case_review_quality_of_life_president_case_review_approval{

}

.widget_quality_of_life_president_case_review_quality_of_life_president_case_review_document_copy{

}

.input_quality_of_life_president_case_review_quality_of_life_president_case_review_document_copy{
	text-align : center;

}

.label_quality_of_life_president_case_review_quality_of_life_president_case_review_document_copy{
	text-align : center;

}

.table_quality_of_life_president_case_review_quality_of_life_president_case_review_document_copy{

}

.table_cells_quality_of_life_president_case_review_quality_of_life_president_case_review_document_copy{

}

.table_headers_quality_of_life_president_case_review_quality_of_life_president_case_review_document_copy{

}

.image_quality_of_life_president_case_review_quality_of_life_president_case_review_document_copy{

}

.widget_quality_of_life_president_case_review_quality_of_life_president_case_review_HTML_widget1{

}

.input_quality_of_life_president_case_review_quality_of_life_president_case_review_HTML_widget1{

}

.label_quality_of_life_president_case_review_quality_of_life_president_case_review_HTML_widget1{
	text-align : center;

}

.table_quality_of_life_president_case_review_quality_of_life_president_case_review_HTML_widget1{

}

.table_cells_quality_of_life_president_case_review_quality_of_life_president_case_review_HTML_widget1{

}

.table_headers_quality_of_life_president_case_review_quality_of_life_president_case_review_HTML_widget1{

}

.image_quality_of_life_president_case_review_quality_of_life_president_case_review_HTML_widget1{

}

.bonita_table_container {
	table-layout: fixed;
}

.hidden_on_instantiation {
	display: none;
}
